* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ededed;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-item a{
  text-decoration: none;
  color: #4a4a4a;
}

.nav-item a:hover {
  color: #ff0055;
  filter: blur(1px);
}

.nav-item {
  list-style: none;
  padding: 20px;
  font-size: 2rem;
  font-weight: bolder;
}

section {
  padding: 15%;
}

h1 {
  color: #4a4a4a;
  text-align: center;
  font-size: 4rem;
}
.name {
  color: #ff0055;
}

.presentation {
  padding: 10% 20%;
}
.presentation p{
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #4a4a4a;

}
.presentation span {
  color: #ff0055
}
